extends layout
block title
    title Page1
block content
     .page
        p.lead Сложенные по горизонтали
        .row
          .col-md-1 .col-md-1
          .col-md-1 .col-md-1
          .col-md-1 .col-md-1
          .col-md-1 .col-md-1
          .col-md-1 .col-md-1
          .col-md-1 .col-md-1
          .col-md-1 .col-md-1
          .col-md-1 .col-md-1
          .col-md-1 .col-md-1
          .col-md-1 .col-md-1
          .col-md-1 .col-md-1
          .col-md-1 .col-md-1
        .row
          .col-md-8 .col-md-8
          .col-md-4 .col-md-4
        .row
          .col-md-4 .col-md-4
          .col-md-4 .col-md-4
          .col-md-4 .col-md-4
        .row
          .col-md-6 .col-md-6
          .col-md-6 .col-md-6


        p.lead Пример: Мобильные и настольные
         // Stack the columns on mobile by making one full-width and the other half-width
        .row
             .col-xs-12.col-md-8 .col-xs-12 .col-md-8
             .col-xs-6.col-md-4 .col-xs-6 .col-md-4
         // Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop
        .row
             .col-xs-6.col-md-4 .col-xs-6 .col-md-4
             .col-xs-6.col-md-4 .col-xs-6 .col-md-4
             .col-xs-6.col-md-4 .col-xs-6 .col-md-4
         // Columns are always 50% wide, on mobile and desktop
        .row
             .col-xs-6 .col-xs-6
             .col-xs-6 .col-xs-6

        p.lead Пример: Мобильные, планшеты, настольные
         .row
             .col-xs-12.col-sm-6.col-md-8 .col-xs-12 .col-sm-6 .col-md-8
             .col-xs-6.col-md-4 .col-xs-6 .col-md-4
         .row
             .col-xs-6.col-sm-4 .col-xs-6 .col-sm-4
             .col-xs-6.col-sm-4 .col-xs-6 .col-sm-4
             // Optional: clear the XS cols if their content doesn't match in height
             .clearfix.visible-xs
             .col-xs-6.col-sm-4 .col-xs-6 .col-sm-4

          p.lead Адаптивные колонки сброса
         .row
             .col-xs-6.col-sm-3 .col-xs-6 .col-sm-3 fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffdddddddddddddddddddddddddddddddddddddd
             .col-xs-6.col-sm-3 .col-xs-6 .col-sm-3
             // Add the extra clearfix for only the required viewport
             .clearfix.visible-xs
             .col-xs-6.col-sm-3 .col-xs-6 .col-sm-3
             .col-xs-6.col-sm-3 .col-xs-6 .col-sm-3


         p.lead Смещенные колонки
         p Переместить колонки направо с помощью .col-md-offset-* класса. Эти классы увеличивают отступ слева столбца * колонки. Например, .col-md-offset-4 сдвигает .col-md-4 пропуская один такой же столбец
         .row
             .col-md-4 .col-md-4
             .col-md-4.col-md-offset-4 .col-md-4 .col-md-offset-4
         .row
             .col-md-3.col-md-offset-3 .col-md-3 .col-md-offset-3
             .col-md-3.col-md-offset-3 .col-md-3 .col-md-offset-3
         .row
             .col-md-6.col-md-offset-3 .col-md-6 .col-md-offset-3
         p.lead Вложенные столбцы
         p Чтобы вложить ваше содержание в разметку, необходимо добавить новый .row и набор .col-md-* столбцов в существующую .col-md-* колонку. Вложенные строки должны включать в себя набор столбцов, которые добавляются до 12 или менее.
         .row
             .col-md-9
                 | Level 1: .col-md-9
                 .row
                     .col-md-6
                         | Level 2: .col-md-6
                     .col-md-6
                         | Level 2: .col-md-6
         p.lead Выравнивание колонок
         p Легко изменить порядок наших встроенных столбцов разметки с .col-md-push-* и .col-md-pull-* модифицированными классами
         .row
             .col-md-9.col-md-push-3 .col-md-9 .col-md-push-3 hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh
             .col-md-3.col-md-pull-9 .col-md-3 .col-md-pull-9 dddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd
          p Less модули и переменные см в css
         .wrappernb
             .content-main sdfsdf fhfgh fghj dfgdfgfgd
             .content-secondary iyuiyuiyuiyuiyui  fghfgh

         p.lead Типография

         h1
             | h1. Bootstrap заголовок
             small Вторичный текст
         h2
             | h2. Bootstrap заголовок
             small Вторичный текст
         h3
             | h3. Bootstrap заголовок
             small Вторичный текст
         h4
             | h4. Bootstrap заголовок
             small Вторичный текст
         h5
             | h5. Bootstrap заголовок
             small Вторичный текст
         h6
             | h6. Bootstrap заголовок
             small Вторичный текст

         p.lead Типографская шкала основана на двух Less переменных в variables.Less: @font-size-base и @line-height-base. Первый это базовый размер шрифта используемый везде, а второй является базовой высоты строки. Мы используем эти переменные и простую арифметику для создания margins, paddings, и line-heights всех наших типов и прочего. Настройте их, чтобы адаптировать Bootstrap.
         p.lead Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum

         strong rendered as bold text

         p.text-left Выравнивание по левому краю.
         p.text-center Выравнивание по центру.
         p.text-right Выравнивание по правому краю.
         p.text-justify Выравнивание текста по ширине

         abbr(title='attribute') attr
         abbr.initialism(title='HyperText Markup Language') HTML
         address
                 strong Twitter, Inc.
                 br
                 |   795 Folsom Ave, Suite 600
                 br
                 |   San Francisco, CA 94107
                 br
                 abbr(title='Phone') P:
                 |  (123) 456-7890
          address
                 strong Full Name
                 br
                 a(href='mailto:#') first.last@example.com
          ul
              li Беспорядочный
              li Список пунктов,
              li когда порядок сортировки
              li нет явного значение.

          ul
               li Упорядоченный
               li Список пунктов, когда порядок
               li сортировки должен явное значение.

          ul.list-unstyled
                li Удаление list-style и
                li отступ слева для
                li списка пунктов.
          ul.list-inline
                li Размещение всех пунктов списка
                li в одну линию при помощи display:
                li inline-block; и небольших отступлений.

           dl
                dt Описание
                dd Список терминов и их описаний.

           dl.dl-horizontal
                dt Горизонтальное описание
                dd Расположение терминов и их описаний бок о бок в линию при помощи <dl>


           p.lead Формы
           p Индивидуальные формы управления автоматически получают глобальную стилизованность. Вся текстовая  элементы с и установлены кwidth: 100%; по умолчанию. Преобразуйте этикетки и настройки в .form-groupдля оптимального интервала.

           form(role='form')
                   .form-group
                       label(for='exampleInputEmail1') Email
                       input#exampleInputEmail1.form-control(type='email', placeholder='Enter email')
                   .form-group
                       label(for='exampleInputPassword1') Пароль
                       input#exampleInputPassword1.form-control(type='password', placeholder='Password')
                   .form-group
                       label(for='exampleInputFile') File input
                       input#exampleInputFile(type='file')
                       p.help-block Example block-level help text here.
                   .checkbox
                       label
                           input(type='checkbox')
                           |  Проверить меня
                   button.btn.btn-default(type='submit') Отправить

          p.lead  Встроенная форма
          p Добавьте .form-inlineдля выравнивания по левому краю и встроенному блоку управления для компактной планировки.

          form.form-inline(role='form')
                  .form-group
                      label.sr-only(for='exampleInputEmail2') Email
                      input#exampleInputEmail2.form-control(type='email', placeholder='Enter email')
                  .form-group
                      label.sr-only(for='exampleInputPassword2') Пароль
                      input#exampleInputPassword2.form-control(type='password', placeholder='Password')
                  .checkbox
                      label
                          input(type='checkbox')
                          |  Запомнить меня
                  button.btn.btn-default(type='submit') Войти

           p.lead Горизонтальные формы
           p Используя Bootstrap предопределенные классы разметки для выравнивания лейблов и груп контролов форм в горизонтальном макете добавляя .form-horizontal в форму. Делая это изменяют поведение .form-group как ряд разметки, поэтому не нужен .row.

           form.form-horizontal(role='form')
                   .form-group
                       label.col-sm-2.control-label(for='inputEmail3') Email
                       .col-sm-10
                           input#inputEmail3.form-control(type='email', placeholder='Email')
                   .form-group
                       label.col-sm-2.control-label(for='inputPassword3') Пароль
                       .col-sm-10
                           input#inputPassword3.form-control(type='password', placeholder='Password')
                   .form-group
                       .col-sm-offset-2.col-sm-10
                           .checkbox
                               label
                                   input(type='checkbox')
                                   |  Запомнить меня
                   .form-group
                       .col-sm-offset-2.col-sm-10
                           button.btn.btn-default(type='submit') Войти
           p.lead   Флажки и радиоприемники
           p  Флажки для выбора одного или нескольких вариантов, в то время как радиостанции для выбора одного варианта из многих.

           .checkbox
                   label
                       input(type='checkbox', value='')
                       |           Первая опция—выбирайте его, если вам нравится этот пункт
           .radio
                   label
                       input#optionsRadios1(type='radio', name='optionsRadios', value='option1', checked='')
                       |           Первая опция—выбирайте его, если вам нравится этот пункт
           .radio
                   label
                       input#optionsRadios2(type='radio', name='optionsRadios', value='option2')
                       |           Вторая опция - это несколько другое, и она отменяет выбор первой опции


            p.lead Подборки
            p Используйте опцию по умолчанию, или добавьте multiple, чтобы показать несколько вариантов сразу.

            select.form-control
                option 1
                option 2
                option 3
                option 4
                option 5
            select.form-control(multiple='')
                option 1
                option 2
                option 3
                option 4
                option 5

            p.lead Статическое управление
            p Когда вам необходимо разместить текст рядом с формой этикетки в пределах горизонтальной формы, используйте .form-control-static класс на <p>

            form.form-horizontal(role='form')
                .form-group
                    label.col-sm-2.control-label Email
                    .col-sm-10
                        p.form-control-static email@example.com
                .form-group
                    label.col-sm-2.control-label(for='inputPassword') Пароль
                    .col-sm-10
                        input#inputPassword.form-control(type='password', placeholder='Password')


            p.lead Отключенные наборы полей
            form(role='form')
                fieldset(disabled='')
                    .form-group
                        label(for='disabledTextInput') Неактивный ввод
                        input#disabledTextInput.form-control(type='text', placeholder='Disabled input')
                    .form-group
                        label(for='disabledSelect') Неактивный select menu
                        select#disabledSelect.form-control
                            option Disabled select
                    .checkbox
                        label
                            input(type='checkbox')
                            |  Не могу проверить это
                    button.btn.btn-primary(type='submit') Отправить

            p.lead Проверка состояний
            p Bootstrap включает в себя проверку стилей на ошибки, предупреждения и успех положений на формы управления. Для использования, добавьте .has-warning, .has-error, или .has-success к исходному элементу. Любой .control-label, .form-control и .help-block внутри этого элемента получит подтверждение стилей.
            p С дополнительными иконками

            .form-group.has-success.has-feedback
                label.control-label(for='inputSuccess2') Успешный ввод
                input#inputSuccess2.form-control(type='text')
                span.glyphicon.glyphicon-ok.form-control-feedback
            .form-group.has-warning.has-feedback
                label.control-label(for='inputWarning2') Ввод с предупреждением
                input#inputWarning2.form-control(type='text')
                span.glyphicon.glyphicon-warning-sign.form-control-feedback
            .form-group.has-error.has-feedback
                label.control-label(for='inputError2') Ввод с ошибкой
                input#inputError2.form-control(type='text')
                span.glyphicon.glyphicon-remove.form-control-feedback

            p.lead Кнопки
            // Standard button
            button.btn.btn-default(type='button') Default
            // Provides extra visual weight and identifies the primary action in a set of buttons
            button.btn.btn-primary(type='button') Primary
            // Indicates a successful or positive action
            button.btn.btn-success(type='button') Success
            // Contextual button for informational alert messages
            button.btn.btn-info(type='button') Info
            // Indicates caution should be taken with this action
            button.btn.btn-warning(type='button') Warning
            // Indicates a dangerous or potentially negative action
            button.btn.btn-danger(type='button') Danger
            // Deemphasize a button by making it look like a link while maintaining button behavior
            button.btn.btn-link(type='button') Ссылка

            p.lead Размеры
            p
                button.btn.btn-primary.btn-lg(type='button') Большая кнопка
                button.btn.btn-default.btn-lg(type='button') Большая кнопка
            p
                button.btn.btn-primary(type='button') По умолчанию
                button.btn.btn-default(type='button') По умолчанию
            p
                button.btn.btn-primary.btn-sm(type='button') Малая кнопка
                button.btn.btn-default.btn-sm(type='button') Малая кнопка
            p
                button.btn.btn-primary.btn-xs(type='button') Очень малая кнопка
                button.btn.btn-default.btn-xs(type='button') Очень малая кнопка


            button.btn.btn-primary.btn-lg.active(type='button') Главная кнопка

            p.lead Изображения
            p Добавьте классы к <img> элементу чтобы легко стилизовать изображения в любом проекте.
            img.img-rounded.col-md-4(src='img/01.png', alt='...')
            img.img-circle.col-md-4(src='img/01.png', alt='...')
            img.img-thumbnail.col-md-4(src='img/01.png', alt='...')

            p.lead видимые не видемые классы
            p visible-xs	visible-sm	visible-md	visible-lg	hidden-xs	hidden-sm	hidden-md	hidden-lg

            p.lead Less смотри в css
            p цвета
            .row
                p.col-md-3.colorblock1 Оттенки серого цвета
                p.col-md-3.colorblock2 обеспечивают быстрый
                p.col-md-3.colorblock3 доступ к часто
                p.col-md-3.colorblock4 используемым оттенкам черного
            .row
                p.col-md-2.colorblock11
                p.col-md-2.colorblock22
                p.col-md-2.colorblock33
                p.col-md-2.colorblock44
                p.col-md-2.colorblock44


